.App #background-picture {
  padding: 0;
  margin: 0;
  background: url("blueSkies.jpeg");
  background-attachment: fixed;
}

.App #greyhounds-logo {
  max-height: 150px;
  max-width: 150px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  overflow: hidden;
  text-indent: 100%;
  display: block;
  height: 100%;
}

.App .social_sharing {
  display: block;
  position: fixed;
  top: 65px;
  right: 10px;
  width: 145px;
  background: none;
}

.App #social-link {
  width: 24px;
  margin-left: 10px;
  border-radius: 3px;
}

.App .navbar {
  position: fixed;
  top: 92px;
  right: 0px;
  width: 100%;
  background: #00245d;
}
.App ul {
  margin-left: 150px;
}

.App li {
  display: inline-block;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  color: #ffffff;
  list-style: none;
  padding: 0px 8px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
.App #search-icon {
  position: relative;
  top: -15px;
  color: #ffffff;
  font-size: 22px;
  float: right;
  margin-right: 10px;
}

.App .row {
  margin: 0 10px;
}
.App .card-img-top {
  width: 350px;
}
