.App .container {
  width: 100vw;
}
.App #blue-skies {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.App #greyhounds-logo {
  max-height: 150px;
  max-width: 150px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  overflow: hidden;
  text-indent: 100%;
  display: block;
  height: 100%;
}
.App #main-menu {
  position: fixed;
  top: 92px;
  width: 100%;
  background: #00245d;
}
.App ul {
  margin-left: 150px;
}

.App li {
  display: inline-block;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  color: #ffffff;
  list-style: none;
  padding: 0px 8px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
